/**
 * @file
 * Block Styling
 */

@import "base";

.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}


#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/**
 * Donate Now!
 */

#block-teia-theme-teia-donate-now,
#block-teia-theme-teia-nature-valley-donate-now {
  .block-content {
    border: none;
    padding: 0;
  }
  a {
    padding: 0;
  }
}

/**
 * Second sidebar
 */

.region-sidebar-second {
  h2.block-title {
    color: $white-background;
    background: $light-color;
    border-radius: 1em 1em 0 0;
    padding-left: zen-half-gutter();
    padding-right: zen-half-gutter();
    letter-spacing: 0.3em;
    text-align: center;
  }

  .block-content {
    border-color: $light-color;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    padding: 1em zen-half-gutter();

    p, pre {
      margin-top: 0.2em;
    }

    div.more-link,
    ul.inline li.node-readmore {
      color: $dark-color;
    }
    ul.inline li.node-readmore {
      float: right;
      padding: 0;
    }
  }
}

/**
 * Footer
 */

#footer {
  a, a:visited, a:hover, a:active {
    color: $white-background;
  }
  a:hover, a:active {
    text-decoration: underline;
  }
}

/**
 * Panels
 */

.panel-pane:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

#content {
  .panel-pane {
    margin-bottom: 1.5em;
  }
}
