/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.views-row {
  clear: both;
}
.views-row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

/**
 * Pane styling
 */

/*@media all and (min-width: 960px) {*/
@media all {
  $zen-column-count: 11;
  $zen-gutter-width: 20px;

  #content {

    .view.full.list,
    .view.compact.list,
    .view.full.card,
    .view.compact.card {
      .view-content {
        .field-publish-date {
          color: $grey-text;
        }
        .field-more-link {
          text-align: right;
        }
        .stopper {
          z-index: 1;
          position: relative;
        }
        .stopper:before {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          height: 2.5em;
          content: "";
          display: block;
          background-size: 100% auto;
          background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff 40%);
          z-index: -1;
        }
      }
    }

    .view.full.list > .view-content {
      .field-title-image {
        @include zen-grid-flow-item(5, 12, false, false);
        @include zen-float(left);
        @include zen-clear(both);
      }
      .field-title-field,
      .field-publish-date,
      .field-body,
      .field-more-link {
        @include zen-grid-flow-item(7, 12, false, false);
        @include zen-float(right);
        @include zen-clear(right);
      }
      .field-title-field {
        height: 1.28205em;  // XXX normalized h3 line-height
        overflow: hidden;
      }
      .field-body {
        height: 8.2em;
        overflow: hidden;
      }
      .field-publish-date {
        margin-bottom: 0.2em;
      }
      .field-more-link {
        margin-bottom: 1.6em;
      }
    }

    .view.compact.list > .view-content {
    }

    .view.full.card > .view-content {
      // noop
    }

    .view.compact.card > .view-content {
      .field-title-image {
        @include zen-grid-flow-item(1, 3, false, false);
        @include zen-float(left);
        @include zen-clear(both);
      }
      .field-title-field,
      .field-publish-date,
      .field-body,
      .field-more-link {
        @include zen-grid-flow-item(2, 3, false, false);
        @include zen-float(right);
        @include zen-clear(right);
      }
    }

    .view.combo {
      & .view {
        @include zen-grid-flow-item(1, 2, false, false);
        @include zen-float(left);
        @include zen-clear(both);
      }
      &> .view-content {
        @include zen-grid-flow-item(1, 2, false, false);
        @include zen-float(right);
        @include zen-clear(right);
      }
    }

    //---

    h2.pane-title {
      text-align: center;
      font-size: large;
      letter-spacing: 0.4em;
      color: $black-header;
      padding: 0;
      margin-top: 0;
      border-top: solid 5px $light-lighter;
      border-bottom: solid 1px #ddd;
      a {
        color: $black-header;
      }
      a:hover, a:focus {
        text-decoration: underline;
        color: $black-hover;
      }
    }

    .node-teaser {
      p, pre {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
    }

  }

  .view {
    h3.field-title-field {
      margin-top: 0;
      margin-bottom: 0;
      color: $light-darker;
    }
    p, pre {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }
    div.publish-date {
      color: $grey-text;
    }

    div.more-link,
    ul.inline li.node-readmore {
      color: $dark-color;
    }
    ul.inline li.node-readmore {
      float: right;
      padding: 0 0 0 1em;
    }
  }

  /**
   * View panes
   */

  .list-pane {
    .views-row {
      margin-top: 1em;
    }
    .views-row.views-row-first {
      margin-top: 0em;
    }
  }

  .list-pane {
    figure.field-title-image {
      @include zen-grid-flow-item(4, 12);
      @include zen-float(left);
      @include zen-clear(left);
    }
    div.field-content {
      @include zen-grid-flow-item(8, 12, false, false);
      @include zen-float(right);
      @include zen-clear(right);
    }
    div.more-link {
      @include zen-grid-flow-item(8, 12, false, false);
      @include zen-float(right);
      @include zen-clear(right);
    }
  }

  /*.view-display-id-recent_pane_compact > .view-content,*/
  /*.view-display-id-recent_pane > .view-content {*/
    /*@include zen-grid-flow-item(6, 12, false, false);*/
    /*@include zen-float(right);*/
    /*@include zen-clear(right);*/
  /*}*/
  /*.view-display-id-recent_pane > .view-content {*/
    /*figure.field-title-image {*/
      /*@include zen-grid-flow-item(4, 12);*/
      /*@include zen-float(left);*/
      /*@include zen-clear(left);*/
    /*}*/
    /*div.field-content {*/
      /*@include zen-grid-flow-item(8, 12, false, false);*/
      /*@include zen-float(right);*/
      /*@include zen-clear(right);*/
    /*}*/
  /*}*/

  /*.latest-attachment-2 .view-display-id-latest_attachment {*/
    /*@include zen-grid-flow-item(6, 12);*/
    /*@include zen-float(left);*/
    /*@include zen-clear(left);*/
  /*}*/

  /**
   * Slider
   */

  /*
   * Normalize Flexslider default theming.
   */
  .flexslider {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 35px;
  }
  .flex-control-nav {
    bottom: -30px;
  }

  /*
   * Top slider
   */
  div.view-teia-slideshow {
    .view-content .flexslider {
      background: $white-shadow;
    }

    li {
      overflow: hidden;
    }

    figure {
      @include zen-grid-flow-item(8, 12, false, true);
      @include zen-float(left);
      @include zen-clear(left);
    }

    div.slideshow-text,
    div.more-link {
      @include zen-grid-flow-item(4, 12, false, false);
      position: absolute;
      padding-right: 3 * zen-half-gutter();
    }
    div.slideshow-text {
      top: 0;
      right: 0;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    div.more-link {
      bottom: 0;
      right: 0;
      z-index: 1;
      padding-bottom: 1em;
    }
    div.more-link:before {
      position: absolute;
      left: 0;
      right: 3 * zen-half-gutter();
      bottom: 0;
      height: 4.4em;
      content: "";
      display: block;
      @include background-image(linear-gradient(rgba(245, 245, 245, 0), $white-shadow, $white-shadow, $white-shadow));
      z-index: -1;
    }

    h3 { font-size: x-large; }
    div.publish-date { color: $grey-text; }
    h3, div.publish-date, p {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

  }
}
