/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";

$zen-column-count:  11;
$zen-gutter-width:  20px;

.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

  ul.links.inline:after {
    content: "";
    display: block;
    height: 1.5em;
  }
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}

.pane-node-created {
  color: $grey-text;
}

/**
 * TEIA Newsletter
 */

.node.node-teia-newsletter {
  @include zen-nested-container();

  figure.field-title-image {
    @include zen-grid-flow-item(4, 12);
    @include zen-float(left);
    @include zen-clear(both);
  }

  h3.field-newsletter-section-title,
  p,
  div.field-newsletter-section-link {
    @include zen-grid-flow-item(8, 12, false, false);
    @include zen-float(right);
    @include zen-clear(right);
  }

  h3.field-newsletter-section-title {
    margin-top: 0;
    margin-bottom: 0.1em;
  }

  p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  div.field-newsletter-section-link {
    text-align: right;
  }

  .pane-node-field-newsletter-section {
    .field-newsletter-section-name {
      @include zen-grid-flow-item(2, 12, false, false);
      @include zen-float(left);
    }
    h3.field-newsletter-section-title {
      @include zen-grid-flow-item(6, 12, false, false);
      @include zen-float(right);
      @include zen-clear(right);
    }
    div.field-newsletter-section-link {
      margin-bottom: 1.5em;
    }
  }
}
