/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */

body {
  margin: 0;

  font-family: 微軟正黑體, 新細明體;
  color: $black-text;

  a, a:active, a:visited {
    text-decoration: none;
    color: $black-link;
  }
  a:hover, a:focus {
    text-decoration: underline;
    color: $black-hover;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo img {
}

#page .region-header {
  font-size: small;
  line-height: 1.5em;

  #block-panels-mini-header {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0
  }

  .social-network {
    margin-left: 0.3em;
  }
}

.region-navigation {
  .block {
    height: 100%;
    bottom: 0px;
  }
  .menu-block-wrapper {
    position: absolute;
    bottom: 0px;
  }
}

#block-panels-mini-header {
}

#google-cse-results-searchbox-form {
  label, input#edit-sa {
    display: none;
  }
  input#edit-query {
    border: solid 2px $dark-darker;
    border-radius: 1em;
  }
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h3 {
  color: $light-darker;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
  a, a:active, a:visited {
    text-decoration: none;
    color: $dark-color;
  }
  a:hover, a:focus {
    text-decoration: underline;
    color: $dark-darker;
  }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
    display: block;
    min-height: 10em;
    background: $light-color;
    color: $white-background;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Background
 */

/*
body.section-teia {
  background: url("../images/bg/grass.jpg") repeat scroll 0 0 transparent;
}

body.section-e-info {
  background: url("../images/bg/seed.jpg") repeat scroll 0 0 transparent;
}

body.section-env-trust {
  background: url("../images/bg/dirt.jpg") repeat scroll 0 0 transparent;
}

body.section-working-holiday {
  background: url("../images/bg/trunk.jpg") repeat scroll 0 0 transparent;
}

body.section-reef-check-tw {
  background: url("../images/bg/water.jpg") repeat scroll 0 0 transparent;
}
*/

body {
  background: $white-background;
}

#header,
#content,
#navigation,
section.sidebar,
#footer {
}

/** XXX clearfix for superfish block for unknown reason*/
#block-superfish-1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#block-superfish-1 {
  margin-bottom: 0;
}
.region-header {
  position: relative;
}
#block-teia-theme-teia-theme-language-menu {
  position: absolute;
  left: 285px;
  margin-top: 6px;
}
#block-teia-theme-teia-theme-facebook-link {
  position: absolute;
  left: 379px;
}
#block-teia-theme-teia-theme-twitter-link {
  position: absolute;
  left: 420px;
}
#block-google-cse-google-cse {
  position: absolute;
  left: 470px;
  margin-top: 6px;
}
#logo {
  position: relative;
  top: 17px;
}
