/**
 * @file
 * Slider Styling.
 */

@import "base";

$zen-column-count:  12;
$zen-gutter-width:  30px;

div.view-teia-slideshow {
  @include zen-grid-item(12, 1);

  .flexslider {
    background: #ccc;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  li {
    figure {
      @include zen-grid-flow-item(8, 12, false, false);
      @include zen-float(left);
      @include zen-clear(left);
    }

    h3, p, div {
      @include zen-grid-flow-item(4, 12, false, false);
      @include zen-float(right);
      @include zen-clear(right);
    }

    .more-link {
      text-align: left;
    }
  }
}

