/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.views-row {
  clear: both;
}

.views-row-last:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Pane styling
 */

$separator-color: #333;

@media all and (min-width: 960px) {
  $zen-column-count: 12;
  $zen-gutter-width: 30px;

  #content {

    h2.pane-title {
      text-align: center;
      font-size: 1.2em;
      letter-spacing: 0.4em;
      color: #666;
      padding: 0;
      border-top: solid 5px $separator-color;
      border-bottom: solid 1px #ddd;
      margin: 0 zen-half-gutter() 0.8em;
    }

    h3.field-title-field {
      margin-top: 0;
      margin-bottom: 0;
      color: #333;
    }

    div.post-date {
      color: #999;
      font-size: smaller;
    }

    div.more-link {
      color: #666;
      font-size: smaller
    }
  }

  .pane-taxonomy-term-pane {
    figure {
      @include zen-grid-item(4, 1);
    }

    h3, p,
    div.field, /* e-info.org.tw bug */
    div.post-date,
    div.more-link {
      @include zen-grid-item(8, 1, right);
      @include zen-clear(right);
    }
    .views-row {
      margin-top: 1em;
    }
    .views-row.views-row-first {
      margin-top: 0em;
    }
    div.more-link {
      text-align: left;
    }
    div.more-link:after {
      content: ".";
      display: block;
      visibility: hidden;
      clear: both;
    }
  }

  .view-taxonomy-term.view-display-id-latest_attachment {
    .view-content {
      @include zen-grid-item(8, 1);
      @include zen-nested-container();
    }
    figure.field-title-image {
      @include zen-grid-item(6, 1);
    }
    h3, p,
    div.field, /* e-info.org.tw bug */
    div.post-date,
    div.more-link {
      @include zen-grid-item(6, 1, right);
      @include zen-clear(right);
    }
  }

  .pane-taxonomy-term-recent-pane-2small,
  .pane-taxonomy-term-recent-pane-4small {
    .view-content {
      @include zen-grid-item(8, 1, left);
      @include zen-nested-container();

      figure {
        @include zen-grid-item(6, 1);
      }
      h3, p,
      div.field, /* e-info.org.tw bug */
      div.post-date {
        @include zen-grid-item(6, 1, right);
        @include zen-clear(right);
      }
    }

    .attachment .view-content {
      @include zen-grid-item(4, 1, right);
      @include zen-nested-container();
    }
  }

  .pane-taxonomy-term-recent-pane-2small .attachment .view-content {
    figure {
      @include zen-grid-item(4, 1);
    }

    h3, p,
    div.field, /* e-info.org.tw bug */
    div.post-date {
      @include zen-grid-item(8, 1, right);
      @include zen-clear(right);
    }
    .views-row-2 {
      margin-top: 1em;
    }
  }

  .pane-taxonomy-term-recent-pane-4small .attachment .view-content {
    h3, p,
    div.field, /* e-info.org.tw bug */
    div.post-date {
      @include zen-grid-item(12, 1, right);
      @include zen-clear(right);
    }
  }
}
