/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

$zen-column-count:  12;
$zen-gutter-width:  20px;

$header-height: 130px;
$navigation-height: 55px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;
$zen-box-sizing: border-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: true;
$zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */

/*
@media all and (min-width: 960px) {
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
*/
/*
@media all and (min-width: 480px) and (max-width: 959px) {
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: $max-width;
  }
}
*/

/*
 * Containers for grid items and flow items.
 */

#header,
#navigation,
#main,
.footer.wrapper {
  @include zen-grid-container();
}

#page {
  margin: 0 auto;
}

/*
@media all and (min-width: 960px) {
*/
@media all {

  #page {
    width: $wide-width;
  }

  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  #header {
    height: $header-height;
    width: 100%;
  }

  .region-header {
    @include zen-grid-item(6, 7);
    height: $header-height;
  }

  #logo {
    @include zen-grid-item(5, 2);
    display: block;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  #main {
  }

  #content {
    @include zen-grid-item(8, 2);
  }

  /**
   * Navigation region.  Placed at top right.
   */
  .region-navigation {
    @include zen-grid-item(10, 2);
    margin-bottom: zen-half-gutter();
  }

  .region-sidebar-first {
    @include zen-nested-container();
    position: absolute;
    left: 0;
    width: 6em;
    ul.menu {
      margin: 0;
    }
  }

  .region-sidebar-second {
    @include zen-grid-item(3, 1, right);
    position: relative;
    top: -61px;
  }

  /**
   * Footer
   */

  .footer.wrapper {
    display: block;
    min-height: 10em;
    background: $light-color;
    color: $white-background;
  }

  footer.footer {
    @include zen-grid-item(8, 3, left);
    @include zen-nested-container();
    &:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
    }

    li {
      list-style: none;
    }
  }

  #footer.footer {
    a {
      color: #fff;
    }
  }

  .region.region-footer {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .region.region-footer-left {
    @include zen-grid-item(8, 1, left);
  }

  .region.region-footer-right {
    @include zen-grid-item(4, 1, right);
  }

  /**
   * Panels layout
   */
  .use-zen-columns #content {
    .panel-panel {
      @include box-sizing(border-box);
    }
    .panel-3col-33-stacked .panel-col-first {
      @include box-sizing(border-box);
      @include zen-grid-flow-item(4, 12);
    }
    .panel-3col-33-stacked .panel-col {
      @include box-sizing(border-box);
      @include zen-grid-flow-item(4, 12);
    }
    .panel-3col-33-stacked .panel-col-last {
      @include box-sizing(border-box);
      @include zen-grid-flow-item(4, 12, false, false);
    }
    .panel-3col-33-stacked .inside {
      margin: 0;
    }

    .panel-2col-stacked {
      .panel-col-first {
        @include zen-grid-flow-item(6, 12);
      }
      .panel-col-last {
        @include zen-grid-flow-item(6, 12, false, false);
      }
      .inside {
        margin: 0;
      }
    }
  }

}
