/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 43, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/**
 * Top spacing
 */
/* line 52, ../../sass/layouts/responsive-sidebars.scss */
#page {
  margin-top: 3.3em;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 65, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Navigation bar
   */
  /* line 85, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 3em;
    position: relative;
  }

  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 105, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 115, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  /* line 119, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 129, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 133, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  /* line 137, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 145, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
  /* line 149, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
  /* line 152, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 165, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    position: absolute;
    height: 150px;
    width: 100%;
    max-width: 1200px;
  }
  /* line 171, ../../sass/layouts/responsive-sidebars.scss */
  #header nav, #header hgroup {
    float: left;
  }

  /* line 176, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: right;
    width: 16.66667%;
    margin-right: 41.66667%;
    margin-left: -58.33333%;
  }

  /* line 180, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    height: 150px;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 187, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 150px;
    position: relative;
  }

  /* line 192, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
    padding-left: 0;
    padding-right: 0;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 200, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    float: left;
    width: 41.66667%;
    margin-left: 58.33333%;
    margin-right: -100%;
    position: relative;
    top: -150px;
  }

  /* line 207, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 211, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
  }

  /* line 217, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-first, .two-sidebars .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 13em;
    left: 0;
    width: 6em;
  }
  /* line 225, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }
}
