/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Color
 */
/*
 * Center the page.
 */
@media all and (min-width: 960px) {
  /* line 46, ../../sass/layouts/responsive-sidebars.scss */
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 54, ../../sass/layouts/responsive-sidebars.scss */
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: 1200px;
  }
}
/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 67, ../../sass/layouts/responsive-sidebars.scss */
#header,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (min-width: 960px) {
  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 87, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    position: absolute;
    height: 130px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
  }
  /* line 94, ../../sass/layouts/responsive-sidebars.scss */
  #header nav, #header hgroup {
    float: left;
  }

  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: left;
    width: 27.27273%;
    margin-left: 45.45455%;
    margin-right: -72.72727%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 130px;
  }

  /* line 104, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    float: right;
    width: 18.18182%;
    margin-right: 0%;
    margin-left: -18.18182%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 111, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 160px;
    position: relative;
  }

  /* line 116, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: right;
    width: 72.72727%;
    margin-right: 9.09091%;
    margin-left: -81.81818%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    float: right;
    width: 45.45455%;
    margin-right: 54.54545%;
    margin-left: -100.0%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    top: -160px;
    height: 130px;
    z-index: 2;
  }

  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: right;
    width: 100.0%;
    margin-right: 9.09091%;
    margin-left: -109.09091%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 9.09091%;
    margin-right: 0%;
    margin-left: -9.09091%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-first, .two-sidebars .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 13em;
    left: 0;
    width: 6em;
  }
  /* line 150, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
    float: left;
    width: 18.18182%;
    margin-left: 0%;
    margin-right: -18.18182%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Footer hack.
   */
  /* line 158, ../../sass/layouts/responsive-sidebars.scss */
  #footer #block-panels-mini-footer {
    float: right;
    width: 54.54545%;
    margin-right: 27.27273%;
    margin-left: -81.81818%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
