/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 45, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 59, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
.region,
#footer {
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Navigation bar
   */
  /* line 79, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 3em;
    position: relative;
  }

  /* line 83, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    position: absolute;
    top: 0;
    height: 3em;
    width: 100%;
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 95, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 109, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
  /* line 113, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
  /* line 131, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: right;
  }
  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
  /* line 146, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
}
@media all and (min-width: 960px) {
  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 159, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    position: absolute;
    height: 130px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
  }
  /* line 166, ../../sass/layouts/responsive-sidebars.scss */
  #header nav, #header hgroup {
    float: left;
  }

  /* line 171, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: left;
    width: 25%;
    margin-left: 41.66667%;
    margin-right: -66.66667%;
    height: 130px;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 182, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 160px;
    position: relative;
  }

  /* line 187, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: right;
    width: 75%;
    margin-right: 0%;
    margin-left: -75%;
    padding-left: 0;
    padding-right: 0;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 195, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    float: right;
    width: 41.66667%;
    margin-right: 58.33333%;
    margin-left: -100%;
    position: relative;
    top: -160px;
    height: 130px;
    z-index: 2;
  }

  /* line 204, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
  /* line 208, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
  }

  /* line 214, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-first, .two-sidebars .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 13em;
    left: 0;
    width: 6em;
  }
  /* line 222, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /* line 229, ../../sass/layouts/responsive-sidebars.scss */
  .breadcrumb,
  #page-title,
  .node {
    padding-left: 15px;
    padding-right: 15px;
  }
}
