/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Color
 */
/*
 * Center the page.
 */
/*
@media all and (min-width: 960px) {
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
*/
/*
@media all and (min-width: 480px) and (max-width: 959px) {
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: $max-width;
  }
}
*/
/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 70, ../../sass/layouts/responsive-sidebars.scss */
#header,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 51, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
@media all and (min-width: 960px) {
*/
@media all {
  /* line 91, ../../sass/layouts/responsive-sidebars.scss */
  #page {
    min-width: 960px;
  }

  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 98, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    position: absolute;
    height: 130px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
  }
  /* line 105, ../../sass/layouts/responsive-sidebars.scss */
  #header nav, #header hgroup {
    float: left;
  }

  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: left;
    width: 40%;
    margin-left: 80%;
    margin-right: -120%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 130px;
  }

  /* line 115, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 160px;
    position: relative;
  }

  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: left;
    width: 160%;
    margin-left: 20%;
    margin-right: -180%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 134, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    float: left;
    width: 100%;
    margin-left: 120%;
    margin-right: -220%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    top: -160px;
    height: 130px;
    z-index: 2;
  }

  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 220%;
    margin-left: 20%;
    margin-right: -240%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 147, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-first, .two-sidebars .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 13em;
    left: 0;
    width: 6em;
  }
  /* line 161, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second, .two-sidebars .region-sidebar-second {
    float: right;
    width: 40%;
    margin-right: 0%;
    margin-left: -40%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Footer hack.
   */
  /* line 169, ../../sass/layouts/responsive-sidebars.scss */
  #footer #block-panels-mini-footer {
    float: left;
    width: 120%;
    margin-left: 60%;
    margin-right: -180%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Panels layout
   */
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-first {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
  }
  /* line 180, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
  }
  /* line 183, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-last {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
  }
  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .inside {
    margin: 0;
  }
  /* line 191, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-first {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
  }
  /* line 194, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-last {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
  }
  /* line 197, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .inside {
    margin: 0;
  }
}
