/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Width
 */
/**
 * Color
 */
/*
 * Center the page.
 */
/*
@media all and (min-width: 960px) {
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
*/
/*
@media all and (min-width: 480px) and (max-width: 959px) {
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: $max-width;
  }
}
*/
/*
 * Containers for grid items and flow items.
 */
/* line 51, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#navigation:before,
#navigation:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#navigation:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 73, ../../sass/layouts/responsive-sidebars.scss */
#page {
  margin: 0 auto;
}

/*
@media all and (min-width: 960px) {
*/
@media all {
  /* line 82, ../../sass/layouts/responsive-sidebars.scss */
  #page {
    width: 1200px;
  }

  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    height: 130px;
    width: 100%;
  }

  /* line 94, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: left;
    width: 41.66667%;
    margin-left: 50%;
    margin-right: -91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 130px;
  }

  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    float: left;
    width: 41.66667%;
    margin-left: 8.33333%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: left;
    width: 66.66667%;
    margin-left: 8.33333%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 117, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    float: left;
    width: 83.33333%;
    margin-left: 8.33333%;
    margin-right: -91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 0;
    width: 6em;
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first ul.menu {
    margin: 0;
  }

  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-second {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Footer hack.
   */
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  #footer #block-panels-mini-footer {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Panels layout
   */
  /* line 147, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-first {
    width: 33.33333%;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
  }
  /* line 150, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col {
    width: 33.33333%;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
  }
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-last {
    width: 33.33333%;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
  }
  /* line 156, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .inside {
    margin: 0;
  }
  /* line 161, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-first {
    width: 50%;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
  }
  /* line 164, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-last {
    width: 50%;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
  }
  /* line 167, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .inside {
    margin: 0;
  }
}
