/**
 * @file
 * Views Styling
 */
/**
 * Color
 */
/**
 * Width
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 23, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row {
  clear: both;
}

/* line 50, ../sass/views-styles.scss */
.views-row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

/**
 * Pane styling
 */
/*@media all and (min-width: 960px) {*/
@media all {
  /* line 73, ../sass/views-styles.scss */
  #content .view.full.list .view-content .field-publish-date,
  #content .view.compact.list .view-content .field-publish-date,
  #content .view.full.card .view-content .field-publish-date,
  #content .view.compact.card .view-content .field-publish-date {
    color: #adadad;
  }
  /* line 76, ../sass/views-styles.scss */
  #content .view.full.list .view-content .field-more-link,
  #content .view.compact.list .view-content .field-more-link,
  #content .view.full.card .view-content .field-more-link,
  #content .view.compact.card .view-content .field-more-link {
    text-align: right;
  }
  /* line 79, ../sass/views-styles.scss */
  #content .view.full.list .view-content .stopper,
  #content .view.compact.list .view-content .stopper,
  #content .view.full.card .view-content .stopper,
  #content .view.compact.card .view-content .stopper {
    z-index: 1;
    position: relative;
  }
  /* line 83, ../sass/views-styles.scss */
  #content .view.full.list .view-content .stopper:before,
  #content .view.compact.list .view-content .stopper:before,
  #content .view.full.card .view-content .stopper:before,
  #content .view.compact.card .view-content .stopper:before {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 2.5em;
    content: "";
    display: block;
    background-size: 100% auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff 40%);
    z-index: -1;
  }
  /* line 99, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-title-image {
    width: 41.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 11.66667px;
    margin-right: -11.66667px;
    float: left;
    clear: both;
  }
  /* line 104, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-title-field,
  #content .view.full.list > .view-content .field-publish-date,
  #content .view.full.list > .view-content .field-body,
  #content .view.full.list > .view-content .field-more-link {
    width: 58.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 8.33333px;
    margin-right: -8.33333px;
    float: right;
    clear: right;
  }
  /* line 112, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-title-field {
    height: 1.28205em;
    overflow: hidden;
  }
  /* line 116, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-body {
    height: 8.2em;
    overflow: hidden;
  }
  /* line 120, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-publish-date {
    margin-bottom: 0.2em;
  }
  /* line 123, ../sass/views-styles.scss */
  #content .view.full.list > .view-content .field-more-link {
    margin-bottom: 1.6em;
  }
  /* line 136, ../sass/views-styles.scss */
  #content .view.compact.card > .view-content .field-title-image {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
    float: left;
    clear: both;
  }
  /* line 141, ../sass/views-styles.scss */
  #content .view.compact.card > .view-content .field-title-field,
  #content .view.compact.card > .view-content .field-publish-date,
  #content .view.compact.card > .view-content .field-body,
  #content .view.compact.card > .view-content .field-more-link {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }
  /* line 152, ../sass/views-styles.scss */
  #content .view.combo .view {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
    float: left;
    clear: both;
  }
  /* line 157, ../sass/views-styles.scss */
  #content .view.combo > .view-content {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
    float: right;
    clear: right;
  }
  /* line 166, ../sass/views-styles.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: large;
    letter-spacing: 0.4em;
    color: #717071;
    padding: 0;
    margin-top: 0;
    border-top: solid 5px #91c888;
    border-bottom: solid 1px #ddd;
  }
  /* line 175, ../sass/views-styles.scss */
  #content h2.pane-title a {
    color: #717071;
  }
  /* line 178, ../sass/views-styles.scss */
  #content h2.pane-title a:hover, #content h2.pane-title a:focus {
    text-decoration: underline;
    color: #4f915e;
  }
  /* line 185, ../sass/views-styles.scss */
  #content .node-teaser p, #content .node-teaser pre {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  /* line 194, ../sass/views-styles.scss */
  .view h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #466b54;
  }
  /* line 199, ../sass/views-styles.scss */
  .view p, .view pre {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  /* line 203, ../sass/views-styles.scss */
  .view div.publish-date {
    color: #adadad;
  }
  /* line 207, ../sass/views-styles.scss */
  .view div.more-link,
  .view ul.inline li.node-readmore {
    color: #745e4f;
  }
  /* line 211, ../sass/views-styles.scss */
  .view ul.inline li.node-readmore {
    float: right;
    padding: 0 0 0 1em;
  }

  /**
   * View panes
   */
  /* line 222, ../sass/views-styles.scss */
  .list-pane .views-row {
    margin-top: 1em;
  }
  /* line 225, ../sass/views-styles.scss */
  .list-pane .views-row.views-row-first {
    margin-top: 0em;
  }

  /* line 231, ../sass/views-styles.scss */
  .list-pane figure.field-title-image {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
    float: left;
    clear: left;
  }
  /* line 236, ../sass/views-styles.scss */
  .list-pane div.field-content {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }
  /* line 241, ../sass/views-styles.scss */
  .list-pane div.more-link {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }

  /*.view-display-id-recent_pane_compact > .view-content,*/
  /*.view-display-id-recent_pane > .view-content {*/
  /*@include zen-grid-flow-item(6, 12, false, false);*/
  /*@include zen-float(right);*/
  /*@include zen-clear(right);*/
  /*}*/
  /*.view-display-id-recent_pane > .view-content {*/
  /*figure.field-title-image {*/
  /*@include zen-grid-flow-item(4, 12);*/
  /*@include zen-float(left);*/
  /*@include zen-clear(left);*/
  /*}*/
  /*div.field-content {*/
  /*@include zen-grid-flow-item(8, 12, false, false);*/
  /*@include zen-float(right);*/
  /*@include zen-clear(right);*/
  /*}*/
  /*}*/
  /*.latest-attachment-2 .view-display-id-latest_attachment {*/
  /*@include zen-grid-flow-item(6, 12);*/
  /*@include zen-float(left);*/
  /*@include zen-clear(left);*/
  /*}*/
  /**
   * Slider
   */
  /*
   * Normalize Flexslider default theming.
   */
  /* line 280, ../sass/views-styles.scss */
  .flexslider {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 35px;
  }

  /* line 286, ../sass/views-styles.scss */
  .flex-control-nav {
    bottom: -30px;
  }

  /*
   * Top slider
   */
  /* line 294, ../sass/views-styles.scss */
  div.view-teia-slideshow .view-content .flexslider {
    background: #f5f5f5;
  }
  /* line 298, ../sass/views-styles.scss */
  div.view-teia-slideshow li {
    overflow: hidden;
  }
  /* line 302, ../sass/views-styles.scss */
  div.view-teia-slideshow figure {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: 13.33333px;
    float: left;
    clear: left;
  }
  /* line 308, ../sass/views-styles.scss */
  div.view-teia-slideshow div.slideshow-text,
  div.view-teia-slideshow div.more-link {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
    position: absolute;
    padding-right: 30px;
  }
  /* line 314, ../sass/views-styles.scss */
  div.view-teia-slideshow div.slideshow-text {
    top: 0;
    right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  /* line 320, ../sass/views-styles.scss */
  div.view-teia-slideshow div.more-link {
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 1em;
  }
  /* line 326, ../sass/views-styles.scss */
  div.view-teia-slideshow div.more-link:before {
    position: absolute;
    left: 0;
    right: 30px;
    bottom: 0;
    height: 4.4em;
    content: "";
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjMzLjMzMzMzJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iNjYuNjY2NjclIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(33.33333%, #f5f5f5), color-stop(66.66667%, #f5f5f5), color-stop(100%, #f5f5f5));
    background-image: -moz-linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    background-image: -webkit-linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    background-image: linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    z-index: -1;
  }
  /* line 338, ../sass/views-styles.scss */
  div.view-teia-slideshow h3 {
    font-size: x-large;
  }
  /* line 339, ../sass/views-styles.scss */
  div.view-teia-slideshow div.publish-date {
    color: #adadad;
  }
  /* line 340, ../sass/views-styles.scss */
  div.view-teia-slideshow h3, div.view-teia-slideshow div.publish-date, div.view-teia-slideshow p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}
