/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Color
 */
/**
 * Width
 */
/*
 * Center the page.
 */
/*
@media all and (min-width: 960px) {
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
*/
/*
@media all and (min-width: 480px) and (max-width: 959px) {
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: $max-width;
  }
}
*/
/*
 * Containers for grid items and flow items.
 */
/* line 51, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#navigation:before,
#navigation:after,
#main:before,
#main:after,
.footer.wrapper:before,
.footer.wrapper:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#navigation:after,
#main:after,
.footer.wrapper:after {
  clear: both;
}

/* line 73, ../../sass/layouts/responsive-sidebars.scss */
#page {
  margin: 0 auto;
}

/*
@media all and (min-width: 960px) {
*/
@media all {
  /* line 82, ../../sass/layouts/responsive-sidebars.scss */
  #page {
    width: 1200px;
  }

  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #header {
    height: 130px;
    width: 100%;
  }

  /* line 94, ../../sass/layouts/responsive-sidebars.scss */
  .region-header {
    float: right;
    width: 50%;
    margin-right: 50%;
    margin-left: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    height: 130px;
  }

  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    float: right;
    width: 41.66667%;
    margin-right: 8.33333%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  #content {
    float: right;
    width: 66.66667%;
    margin-right: 8.33333%;
    margin-left: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Navigation region.  Placed at top right.
   */
  /* line 117, ../../sass/layouts/responsive-sidebars.scss */
  .region-navigation {
    float: right;
    width: 83.33333%;
    margin-right: 8.33333%;
    margin-left: -91.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 0;
    width: 6em;
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first ul.menu {
    margin: 0;
  }

  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-second {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    top: -61px;
  }

  /**
   * Footer
   */
  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  .footer.wrapper {
    display: block;
    min-height: 10em;
    background: #4f915e;
    color: #ffffff;
  }

  /* line 149, ../../sass/layouts/responsive-sidebars.scss */
  footer.footer {
    float: right;
    width: 66.66667%;
    margin-right: 16.66667%;
    margin-left: -83.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 152, ../../sass/layouts/responsive-sidebars.scss */
  footer.footer:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  /* line 159, ../../sass/layouts/responsive-sidebars.scss */
  footer.footer li {
    list-style: none;
  }

  /* line 164, ../../sass/layouts/responsive-sidebars.scss */
  .region.region-footer {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 171, ../../sass/layouts/responsive-sidebars.scss */
  .region.region-footer-left {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 175, ../../sass/layouts/responsive-sidebars.scss */
  .region.region-footer-right {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Panels layout
   */
  /* line 183, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-panel {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-first {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    padding-right: 0;
    padding-left: 13.33333px;
    margin-left: 6.66667px;
  }
  /* line 190, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    padding-right: 0;
    padding-left: 13.33333px;
    margin-left: 6.66667px;
  }
  /* line 194, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .panel-col-last {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    padding-right: 0;
    padding-left: 13.33333px;
    margin-left: -13.33333px;
  }
  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-3col-33-stacked .inside {
    margin: 0;
  }
  /* line 203, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-first {
    width: 50%;
    padding-right: 0;
    padding-left: 10px;
    margin-left: 10px;
  }
  /* line 206, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .panel-col-last {
    width: 50%;
    padding-right: 0;
    padding-left: 10px;
    margin-left: -10px;
  }
  /* line 209, ../../sass/layouts/responsive-sidebars.scss */
  .use-zen-columns #content .panel-2col-stacked .inside {
    margin: 0;
  }
}
