/**
 * @file
 * Block Styling
 */
/* line 8, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 11, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 14, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 17, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 20, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 23, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 28, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 31, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 34, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 37, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 40, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 43, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 46, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 49, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 52, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 55, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 58, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 61, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 64, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 67, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 70, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 73, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 76, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 79, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 82, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 85, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 88, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 91, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 94, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 97, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 100, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 103, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 106, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/**
 * Pane styling
 */
@media all and (min-width: 960px) {
  /* line 119, ../sass/blocks.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: 1.2em;
    color: #666;
    padding: 0.2em 0;
    border-top: solid 5px #000;
    margin: 0 20px;
  }
  /* line 128, ../sass/blocks.scss */
  #content h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
  }
  /* line 134, ../sass/blocks.scss */
  #content div.update-date {
    color: #999;
    font-size: smaller;
  }

  /* line 142, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content,
  .pane-taxonomy-term-recent-pane-4small .view-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 146, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content figure,
  .pane-taxonomy-term-recent-pane-4small .view-content figure {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 151, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content h3, .pane-taxonomy-term-recent-pane-2small .view-content p,
  .pane-taxonomy-term-recent-pane-2small .view-content div.field,
  .pane-taxonomy-term-recent-pane-2small .view-content div.update-date,
  .pane-taxonomy-term-recent-pane-4small .view-content h3,
  .pane-taxonomy-term-recent-pane-4small .view-content p,
  .pane-taxonomy-term-recent-pane-4small .view-content div.field,
  .pane-taxonomy-term-recent-pane-4small .view-content div.update-date {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 157, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 161, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content .views-row,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content .views-row {
    clear: both;
  }

  /* line 168, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 174, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-2small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.update-date {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 183, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-4small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.update-date {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 189, ../sass/blocks.scss */
  .more-link {
    clear: both;
  }
}
