/**
 * @file
 * Block Styling
 */
/* line 10, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 13, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 16, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 19, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 22, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 25, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 30, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 33, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 36, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 39, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 42, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 45, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 48, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 51, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 54, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 57, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 60, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 63, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 66, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 69, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 72, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 75, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 78, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 81, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 84, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 87, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 90, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 93, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 96, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 99, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 102, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 105, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 108, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/**
 * Pane styling
 */
@media all and (min-width: 960px) {
  /* line 121, ../sass/blocks.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.4em;
    color: #666;
    padding: 0;
    border-top: solid 5px #333333;
    border-bottom: solid 1px #ddd;
    margin: 0 15px 0.8em;
  }
  /* line 132, ../sass/blocks.scss */
  #content h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
  }
  /* line 138, ../sass/blocks.scss */
  #content div.update-date {
    color: #999;
    font-size: smaller;
  }

  /* line 146, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content,
  .pane-taxonomy-term-recent-pane-4small .view-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 150, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content figure,
  .pane-taxonomy-term-recent-pane-4small .view-content figure {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 155, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .view-content h3, .pane-taxonomy-term-recent-pane-2small .view-content p,
  .pane-taxonomy-term-recent-pane-2small .view-content div.field,
  .pane-taxonomy-term-recent-pane-2small .view-content div.update-date,
  .pane-taxonomy-term-recent-pane-4small .view-content h3,
  .pane-taxonomy-term-recent-pane-4small .view-content p,
  .pane-taxonomy-term-recent-pane-4small .view-content div.field,
  .pane-taxonomy-term-recent-pane-4small .view-content div.update-date {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 161, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 165, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content .views-row,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content .views-row {
    clear: both;
  }

  /* line 172, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 178, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-2small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.update-date {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 187, ../sass/blocks.scss */
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-4small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.update-date {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 193, ../sass/blocks.scss */
  .more-link {
    clear: both;
  }
}
