/**
 * @file
 * Block Styling
 */
/**
 * Color
 */
/* line 8, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 11, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 14, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 17, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 20, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 23, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 28, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 31, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 34, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 37, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 40, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 43, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 46, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 49, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 52, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 55, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 58, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 61, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 64, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 67, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 70, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 73, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 76, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 79, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 82, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 85, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 88, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 91, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 94, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 97, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 100, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 103, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 106, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/**
 * Donate Now!
 */
/* line 114, ../sass/blocks.scss */
div#block-panels-mini-donate-now .block-content {
  border: none;
  padding: 0;
}
/* line 118, ../sass/blocks.scss */
div#block-panels-mini-donate-now a#donate-now {
  display: block;
  border: 0;
  background: #4f915e;
  color: white;
  border-radius: 1.5em;
  padding: 2em 1.2em;
  text-decoration: none;
}
/* line 127, ../sass/blocks.scss */
div#block-panels-mini-donate-now a#donate-now:active, div#block-panels-mini-donate-now a#donate-now:visited {
  color: white;
  background: #4f915e;
  text-decoration: none;
}
/* line 132, ../sass/blocks.scss */
div#block-panels-mini-donate-now a#donate-now:hover {
  color: white;
  background: #91c888;
  text-decoration: none;
}
/* line 138, ../sass/blocks.scss */
div#block-panels-mini-donate-now .donate-now-zh {
  display: block;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px white solid;
  padding-bottom: 0.4em;
}
/* line 146, ../sass/blocks.scss */
div#block-panels-mini-donate-now .donate-now-en {
  display: block;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0.4em;
}

/**
 * Second sidebar
 */
/* line 159, ../sass/blocks.scss */
.region-sidebar-second h2.block-title {
  color: white;
  background: #4f915e;
  border-radius: 1em 1em 0 0;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.3em;
  text-align: center;
}
/* line 169, ../sass/blocks.scss */
.region-sidebar-second .block-content {
  border-color: #4f915e;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  padding: 1em 10px;
}
/* line 175, ../sass/blocks.scss */
.region-sidebar-second .block-content p, .region-sidebar-second .block-content pre {
  margin-top: 0.2em;
}
/* line 180, ../sass/blocks.scss */
.region-sidebar-second .block-content div.more-link,
.region-sidebar-second .block-content ul.inline li.node-readmore {
  color: #745e4f;
}
/* line 183, ../sass/blocks.scss */
.region-sidebar-second .block-content ul.inline li.node-readmore {
  float: right;
  padding: 0;
}

/**
 * Footer
 */
/* line 195, ../sass/blocks.scss */
#footer a, #footer a:visited, #footer a:hover, #footer a:active {
  color: white;
}
/* line 198, ../sass/blocks.scss */
#footer a:hover, #footer a:active {
  text-decoration: underline;
}

/**
 * Panels
 */
/* line 207, ../sass/blocks.scss */
.panel-pane:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}

/* line 215, ../sass/blocks.scss */
#content .panel-pane {
  margin-bottom: 1.5em;
}
