/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/**
 * Width
 */
/**
 * Color
 */
/* line 13, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 15, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 19, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 22, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 25, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 28, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 31, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}
/* line 34, ../sass/nodes.scss */
.node ul.links.inline:after {
  content: "";
  display: block;
  height: 1.5em;
}

/* line 41, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 44, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 47, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 50, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 59, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 62, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 65, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 68, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* line 73, ../sass/nodes.scss */
.pane-node-created {
  color: #adadad;
}

/**
 * TEIA Newsletter
 */
/* line 81, ../sass/nodes.scss */
.node.node-teia-newsletter {
  padding-left: 0;
  padding-right: 0;
}
/* line 84, ../sass/nodes.scss */
.node.node-teia-newsletter figure.field-title-image {
  width: 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 13.33333px;
  margin-right: 6.66667px;
  float: left;
  clear: both;
}
/* line 90, ../sass/nodes.scss */
.node.node-teia-newsletter h3.field-newsletter-section-title,
.node.node-teia-newsletter p,
.node.node-teia-newsletter div.field-newsletter-section-link {
  width: 66.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 6.66667px;
  margin-right: -6.66667px;
  float: right;
  clear: right;
}
/* line 98, ../sass/nodes.scss */
.node.node-teia-newsletter h3.field-newsletter-section-title {
  margin-top: 0;
  margin-bottom: 0.1em;
}
/* line 103, ../sass/nodes.scss */
.node.node-teia-newsletter p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
/* line 108, ../sass/nodes.scss */
.node.node-teia-newsletter div.field-newsletter-section-link {
  text-align: right;
}
/* line 113, ../sass/nodes.scss */
.node.node-teia-newsletter .pane-node-field-newsletter-section .field-newsletter-section-name {
  width: 16.66667%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 16.66667px;
  margin-right: -16.66667px;
  float: left;
}
/* line 117, ../sass/nodes.scss */
.node.node-teia-newsletter .pane-node-field-newsletter-section h3.field-newsletter-section-title {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 10px;
  margin-right: -10px;
  float: right;
  clear: right;
}
/* line 122, ../sass/nodes.scss */
.node.node-teia-newsletter .pane-node-field-newsletter-section div.field-newsletter-section-link {
  margin-bottom: 1.5em;
}
