@charset "UTF-8";
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/**
 * Color
 */
/**
 * Width
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  font-family: 微軟正黑體, 新細明體;
  color: #5c4b43;
}
/* line 22, ../sass/pages.scss */
body a, body a:active, body a:visited {
  text-decoration: none;
  color: #466b54;
}
/* line 26, ../sass/pages.scss */
body a:hover, body a:focus {
  text-decoration: underline;
  color: #4f915e;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 37, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 40, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 61, ../sass/pages.scss */
#page .region-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: small;
  line-height: 1.5em;
}

/* line 70, ../sass/pages.scss */
.region-navigation .block {
  height: 100%;
  bottom: 0px;
}
/* line 74, ../sass/pages.scss */
.region-navigation .menu-block-wrapper {
  position: absolute;
  bottom: 0px;
}

/* line 84, ../sass/pages.scss */
#google-cse-results-searchbox-form label, #google-cse-results-searchbox-form input#edit-sa {
  display: none;
}
/* line 87, ../sass/pages.scss */
#google-cse-results-searchbox-form input#edit-query {
  border: solid 2px #595757;
  border-radius: 1em;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 110, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 111, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 115, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 123, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 132, ../sass/pages.scss */
h3 {
  color: #466b54;
}

/* line 136, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 140, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 144, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 147, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 153, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 156, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 161, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 165, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 169, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 173, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 176, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 179, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 182, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 185, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 189, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 195, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 199, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 202, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 207, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 210, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}
/* line 211, ../sass/pages.scss */
.more-link a, .more-link a:active, .more-link a:visited {
  text-decoration: none;
  color: #745e4f;
}
/* line 215, ../sass/pages.scss */
.more-link a:hover, .more-link a:focus {
  text-decoration: underline;
  color: #595757;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 245, ../sass/pages.scss */
#footer {
  display: block;
  min-height: 10em;
  background: #4f915e;
  color: #ffffff;
}

/*
 * Page bottom
 */
/* line 256, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Background
 */
/*
body.section-teia {
  background: url("../images/bg/grass.jpg") repeat scroll 0 0 transparent;
}

body.section-e-info {
  background: url("../images/bg/seed.jpg") repeat scroll 0 0 transparent;
}

body.section-env-trust {
  background: url("../images/bg/dirt.jpg") repeat scroll 0 0 transparent;
}

body.section-working-holiday {
  background: url("../images/bg/trunk.jpg") repeat scroll 0 0 transparent;
}

body.section-reef-check-tw {
  background: url("../images/bg/water.jpg") repeat scroll 0 0 transparent;
}
*/
/* line 285, ../sass/pages.scss */
body {
  background: #ffffff;
}

/** XXX clearfix for superfish block for unknown reason*/
/* line 297, ../sass/pages.scss */
#block-superfish-1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 304, ../sass/pages.scss */
#block-superfish-1 {
  margin-bottom: 0;
}

/* line 307, ../sass/pages.scss */
.region-header {
  position: relative;
}

/* line 310, ../sass/pages.scss */
#block-teia-theme-teia-theme-language-menu {
  margin-right: 10px;
  margin-top: 6px;
}

/* line 314, ../sass/pages.scss */
#block-teia-theme-teia-theme-facebook-link {
  margin-right: 6px;
}

/* line 317, ../sass/pages.scss */
#block-teia-theme-teia-theme-twitter-link {
  margin-right: 10px;
}

/* line 320, ../sass/pages.scss */
#block-google-cse-google-cse {
  margin-top: 6px;
}

/* line 323, ../sass/pages.scss */
#logo {
  position: relative;
  top: 17px;
}
