@charset "UTF-8";
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/**
 * Color
 */
/*
 * Body
 */
/* line 16, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/pages.scss */
#page {
  font-family: 微軟正黑體, 新細明體;
  color: #5c4b43;
}
/* line 25, ../sass/pages.scss */
#page a, #page a:active, #page a:visited {
  text-decoration: none;
  color: #5c4b43;
}
/* line 29, ../sass/pages.scss */
#page a:hover, #page a:focus {
  text-decoration: underline;
  color: #5c4b43;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 40, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 44, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 61, ../sass/pages.scss */
#logo img {
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;
}

/* line 67, ../sass/pages.scss */
.region-header {
  font-size: small;
  line-height: 1.5em;
}
/* line 71, ../sass/pages.scss */
.region-header #block-panels-mini-header {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
}
/* line 77, ../sass/pages.scss */
.region-header .social-network {
  display: block;
  float: left;
  margin-left: 0.3em;
  height: 2em;
  width: 2em;
  text-align: center;
  background: #b09474;
  border-radius: 0.8em;
}
/* line 87, ../sass/pages.scss */
.region-header .social-network a {
  color: whitesmoke;
  font-weight: bold;
}

/* line 95, ../sass/pages.scss */
.region-navigation .block {
  height: 100%;
  bottom: 0px;
}
/* line 99, ../sass/pages.scss */
.region-navigation .menu-block-wrapper {
  position: absolute;
  bottom: 0px;
}

/* line 109, ../sass/pages.scss */
#google-cse-results-searchbox-form label, #google-cse-results-searchbox-form input#edit-sa {
  display: none;
}
/* line 112, ../sass/pages.scss */
#google-cse-results-searchbox-form input#edit-query {
  border: solid 2px #595757;
  border-radius: 1em;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 135, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 136, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 140, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 153, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 157, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 161, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 165, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 168, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 174, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 178, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 183, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 186, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 190, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 194, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 197, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 200, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 203, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 206, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 210, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 216, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 220, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 223, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 228, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 231, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* line 252, ../sass/pages.scss */
.region-sidebar-second h2 {
  background: #4f915e;
  color: whitesmoke;
  padding: 0 1em;
  border-radius: 0.5em 0.5em 0 0;
  margin-bottom: 0;
}
/* line 260, ../sass/pages.scss */
.region-sidebar-second .pane-content {
  border-bottom: 4px solid #4f915e;
  border-right: 4px solid #4f915e;
  border-left: 4px solid #4f915e;
  padding: 1.2em 1.5em;
}

/*
 * Footer
 */
/* line 272, ../sass/pages.scss */
#footer {
  display: block;
  height: 10em;
  background: #4f915e;
}

/*
 * Page bottom
 */
/* line 282, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * Background
 */
/*
body.section-teia {
  background: url("../images/bg/grass.jpg") repeat scroll 0 0 transparent;
}

body.section-e-info {
  background: url("../images/bg/seed.jpg") repeat scroll 0 0 transparent;
}

body.section-env-trust {
  background: url("../images/bg/dirt.jpg") repeat scroll 0 0 transparent;
}

body.section-working-holiday {
  background: url("../images/bg/trunk.jpg") repeat scroll 0 0 transparent;
}

body.section-reef-check-tw {
  background: url("../images/bg/water.jpg") repeat scroll 0 0 transparent;
}
*/
/* line 315, ../sass/pages.scss */
#header,
#content,
#navigation,
section.sidebar,
#footer {
  background: whitesmoke;
}

/**
 * Donate Now!
 */
/* line 324, ../sass/pages.scss */
div#mini-panel-front_donate_now .pane-content {
  border: 0;
  background: #4f915e;
  color: whitesmoke;
  border-radius: 1em;
  padding: 2em 1.2em;
}
/* line 331, ../sass/pages.scss */
div#mini-panel-front_donate_now .pane-content a, div#mini-panel-front_donate_now .pane-content a:active, div#mini-panel-front_donate_now .pane-content a:visited, div#mini-panel-front_donate_now .pane-content a:hover {
  color: whitesmoke;
}
/* line 335, ../sass/pages.scss */
div#mini-panel-front_donate_now .pane-content .donate-now-zh {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px whitesmoke solid;
  padding-bottom: 0.4em;
}
/* line 342, ../sass/pages.scss */
div#mini-panel-front_donate_now .pane-content .donate-now-en {
  font-size: 1.5em;
  text-align: center;
  padding-top: 0.4em;
}
