/**
 * @file
 * Slider Styling.
 */
/* line 11, ../sass/slider.scss */
div.view-teia-slideshow {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 14, ../sass/slider.scss */
div.view-teia-slideshow .flexslider {
  background: #ccc;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/* line 22, ../sass/slider.scss */
div.view-teia-slideshow li figure {
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 10px;
  margin-right: -10px;
  float: left;
  clear: left;
}
/* line 28, ../sass/slider.scss */
div.view-teia-slideshow li h3, div.view-teia-slideshow li p, div.view-teia-slideshow li div {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 20px;
  margin-right: -20px;
  float: right;
  clear: right;
}
/* line 34, ../sass/slider.scss */
div.view-teia-slideshow li .more-link {
  text-align: left;
}
