/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row {
  clear: both;
}

/* line 51, ../sass/views-styles.scss */
.views-row-last:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Pane styling
 */
@media all and (min-width: 960px) {
  /* line 69, ../sass/views-styles.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.4em;
    color: #666;
    padding: 0;
    border-top: solid 5px #333333;
    border-bottom: solid 1px #ddd;
    margin: 0 15px 0.8em;
  }
  /* line 80, ../sass/views-styles.scss */
  #content h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
  }
  /* line 86, ../sass/views-styles.scss */
  #content div.post-date {
    color: #999;
    font-size: smaller;
  }
  /* line 91, ../sass/views-styles.scss */
  #content div.more-link {
    color: #666;
    font-size: smaller;
  }

  /* line 98, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 105, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane h3, .pane-taxonomy-term-pane p,
  .pane-taxonomy-term-pane div.field,
  .pane-taxonomy-term-pane div.post-date,
  .pane-taxonomy-term-pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 109, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane .views-row {
    margin-top: 1em;
  }
  /* line 112, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane .views-row.views-row-first {
    margin-top: 0em;
  }
  /* line 115, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane div.more-link {
    text-align: left;
  }
  /* line 118, ../sass/views-styles.scss */
  .pane-taxonomy-term-pane div.more-link:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
  }

  /* line 127, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-latest_attachment .view-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 131, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-latest_attachment figure.field-title-image {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 137, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-latest_attachment h3, .view-taxonomy-term.view-display-id-latest_attachment p,
  .view-taxonomy-term.view-display-id-latest_attachment div.field,
  .view-taxonomy-term.view-display-id-latest_attachment div.post-date,
  .view-taxonomy-term.view-display-id-latest_attachment div.more-link {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 144, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane .view-content {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 148, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane figure.field-title-image {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 154, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane h3, .pane-taxonomy-term-recent-pane p,
  .pane-taxonomy-term-recent-pane div.field,
  .pane-taxonomy-term-recent-pane div.post-date,
  .pane-taxonomy-term-recent-pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 161, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 167, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-2small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content div.post-date {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 171, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane-2small .attachment .view-content .views-row-2 {
    margin-top: 1em;
  }

  /* line 179, ../sass/views-styles.scss */
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content h3, .pane-taxonomy-term-recent-pane-4small .attachment .view-content p,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.field,
  .pane-taxonomy-term-recent-pane-4small .attachment .view-content div.post-date {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
}
