/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row {
  clear: both;
}

/* line 51, ../sass/views-styles.scss */
.views-row-last:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Pane styling
 */
@media all and (min-width: 960px) {
  /* line 69, ../sass/views-styles.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.4em;
    color: #666;
    padding: 0;
    border-top: solid 5px #333333;
    border-bottom: solid 1px #ddd;
    margin: 0 15px 0.8em;
  }
  /* line 80, ../sass/views-styles.scss */
  #content div.post-date {
    color: #999;
    font-size: smaller;
  }
  /* line 85, ../sass/views-styles.scss */
  #content div.more-link {
    color: #666;
    font-size: smaller;
  }

  /* line 92, ../sass/views-styles.scss */
  #content .panel-pane:after {
    content: ".";
    display: block;
    height: 2em;
    visibility: hidden;
    clear: both;
  }

  /**
   * Taxonomy term
   */
  /* line 105, ../sass/views-styles.scss */
  .view-taxonomy-term {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 107, ../sass/views-styles.scss */
  .view-taxonomy-term h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
  }

  /* line 115, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 122, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane h3, .view-taxonomy-term.view-display-id-pane p,
  .view-taxonomy-term.view-display-id-pane div.field,
  .view-taxonomy-term.view-display-id-pane div.post-date,
  .view-taxonomy-term.view-display-id-pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 126, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane .views-row {
    margin-top: 1em;
  }
  /* line 129, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane .views-row.views-row-first {
    margin-top: 0em;
  }
  /* line 132, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane div.more-link {
    text-align: left;
  }
  /* line 135, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane div.more-link:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
  }

  /* line 144, ../sass/views-styles.scss */
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment .view-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 148, ../sass/views-styles.scss */
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment figure.field-title-image {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 154, ../sass/views-styles.scss */
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment h3, .attachment > .view-taxonomy-term.view-display-id-latest_attachment p,
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment div.field,
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment div.post-date,
  .attachment > .view-taxonomy-term.view-display-id-latest_attachment div.more-link {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 161, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane .view-content {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 165, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane figure.field-title-image {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 171, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane h3, .view-taxonomy-term.view-display-id-recent_pane p,
  .view-taxonomy-term.view-display-id-recent_pane div.field,
  .view-taxonomy-term.view-display-id-recent_pane div.post-date,
  .view-taxonomy-term.view-display-id-recent_pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 178, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane_6 .view-content {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Slider
   */
  /* line 188, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 191, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow .flexslider {
    background: #ccc;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  /* line 199, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li figure {
    width: 66.66667%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
    float: left;
    clear: left;
  }
  /* line 205, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li h3, .pane-teia-slideshow-pane div.view-teia-slideshow li p, .pane-teia-slideshow-pane div.view-teia-slideshow li div {
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 20px;
    margin-right: -20px;
    float: right;
    clear: right;
  }
  /* line 211, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li .more-link {
    text-align: left;
  }
}
