/**
 * @file
 * Views Styling
 */
/**
 * Color
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row {
  clear: both;
}

/* line 50, ../sass/views-styles.scss */
.views-row:after {
  content: "";
  display: block;
  clear: both;
  height: 0.5em;
}

/**
 * Pane styling
 */
@media all and (min-width: 960px) {
  /* line 67, ../sass/views-styles.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.4em;
    color: #717071;
    padding: 0;
    border-top: solid 5px #91c888;
    border-bottom: solid 1px #ddd;
    margin: 0 10px 0.8em;
  }
  /* line 79, ../sass/views-styles.scss */
  #content div.post-date,
  #content div.working-holiday-program {
    color: #adadad;
    font-size: smaller;
  }
  /* line 84, ../sass/views-styles.scss */
  #content div.more-link {
    color: #745e4f;
    font-size: smaller;
  }

  /* line 91, ../sass/views-styles.scss */
  #content .panel-pane:after {
    content: ".";
    display: block;
    height: 2em;
    visibility: hidden;
    clear: both;
  }

  /**
   * Taxonomy term
   */
  /* line 104, ../sass/views-styles.scss */
  .view-taxonomy-term {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 106, ../sass/views-styles.scss */
  .view-taxonomy-term h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #4f915e;
  }

  /* line 114, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane figure {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 122, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane h3, .view-taxonomy-term.view-display-id-pane p,
  .view-taxonomy-term.view-display-id-pane div.field,
  .view-taxonomy-term.view-display-id-pane div.event-nodeapi,
  .view-taxonomy-term.view-display-id-pane div.post-date,
  .view-taxonomy-term.view-display-id-pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }
  /* line 126, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane .views-row {
    margin-top: 1em;
  }
  /* line 129, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane .views-row.views-row-first {
    margin-top: 0em;
  }
  /* line 132, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane div.more-link {
    text-align: left;
  }
  /* line 135, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-pane div.more-link:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
  }

  /* line 145, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane-6 figure.field-title-image,
  .view-taxonomy-term.view-display-id-recent_pane figure.field-title-image {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 152, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-recent_pane-6 h3, .view-taxonomy-term.view-display-id-recent_pane-6 p,
  .view-taxonomy-term.view-display-id-recent_pane-6 div.field,
  .view-taxonomy-term.view-display-id-recent_pane-6 div.event-nodeapi,
  .view-taxonomy-term.view-display-id-recent_pane-6 div.post-date,
  .view-taxonomy-term.view-display-id-recent_pane-6 div.more-link,
  .view-taxonomy-term.view-display-id-recent_pane h3,
  .view-taxonomy-term.view-display-id-recent_pane p,
  .view-taxonomy-term.view-display-id-recent_pane div.field,
  .view-taxonomy-term.view-display-id-recent_pane div.event-nodeapi,
  .view-taxonomy-term.view-display-id-recent_pane div.post-date,
  .view-taxonomy-term.view-display-id-recent_pane div.more-link {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 158, ../sass/views-styles.scss */
  .view-taxonomy-term.view-display-id-no_title_image_pane {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 162, ../sass/views-styles.scss */
  .latest-attachment-full .view-display-id-latest_attachment > .view-content {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 165, ../sass/views-styles.scss */
  .latest-attachment-full > .view-content {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 171, ../sass/views-styles.scss */
  .latest-attachment-2 .view-display-id-latest_attachment > .view-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 176, ../sass/views-styles.scss */
  .latest-attachment-2 .view-display-id-latest_attachment figure.field-title-image {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 183, ../sass/views-styles.scss */
  .latest-attachment-2 .view-display-id-latest_attachment h3, .latest-attachment-2 .view-display-id-latest_attachment p,
  .latest-attachment-2 .view-display-id-latest_attachment div.field,
  .latest-attachment-2 .view-display-id-latest_attachment div.event-nodeapi,
  .latest-attachment-2 .view-display-id-latest_attachment div.post-date,
  .latest-attachment-2 .view-display-id-latest_attachment div.more-link {
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: right;
  }

  /* line 188, ../sass/views-styles.scss */
  .latest-attachment-2 > .view-content {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /**
   * Slider
   */
  /* line 198, ../sass/views-styles.scss */
  .view-content .flexslider {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  /* line 205, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 208, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow .view-content .flexslider {
    background: whitesmoke;
  }
  /* line 213, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li figure {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: left;
    clear: left;
  }
  /* line 222, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li h3,
  .pane-teia-slideshow-pane div.view-teia-slideshow li p,
  .pane-teia-slideshow-pane div.view-teia-slideshow li div.post-date,
  .pane-teia-slideshow-pane div.view-teia-slideshow li div.more-link {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
    float: right;
    clear: right;
  }
  /* line 228, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li h3 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
  }
  /* line 233, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li .post-date {
    color: #adadad;
    font-size: smaller;
  }
  /* line 238, ../sass/views-styles.scss */
  .pane-teia-slideshow-pane div.view-teia-slideshow li p {
    margin-top: 0.4em;
  }
}
