/**
 * @file
 * Views Styling
 */
/**
 * Width
 */
/**
 * Color
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 23, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -moz-border-radius: 0 7px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0;
  border-radius: 0 0 7px 7px;
}

/* line 47, ../sass/views-styles.scss */
.views-row {
  clear: both;
}

/* line 50, ../sass/views-styles.scss */
.views-row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

/**
 * Pane styling
 */
/*@media all and (min-width: 960px) {*/
@media all {
  /* line 68, ../sass/views-styles.scss */
  #content h2.pane-title {
    text-align: center;
    font-size: large;
    letter-spacing: 0.4em;
    color: #717071;
    padding: 0;
    margin-top: 0;
    border-top: solid 5px #91c888;
    border-bottom: solid 1px #ddd;
  }
  /* line 77, ../sass/views-styles.scss */
  #content h2.pane-title a {
    color: #717071;
  }
  /* line 80, ../sass/views-styles.scss */
  #content h2.pane-title a:hover, #content h2.pane-title a:focus {
    text-decoration: underline;
    color: #4f915e;
  }
  /* line 87, ../sass/views-styles.scss */
  #content .node-teaser p, #content .node-teaser pre {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  /* line 96, ../sass/views-styles.scss */
  .view h3.field-title-field {
    margin-top: 0;
    margin-bottom: 0;
    color: #466b54;
  }
  /* line 101, ../sass/views-styles.scss */
  .view p, .view pre {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  /* line 105, ../sass/views-styles.scss */
  .view div.publish-date {
    color: #adadad;
  }
  /* line 109, ../sass/views-styles.scss */
  .view div.more-link,
  .view ul.inline li.node-readmore {
    color: #745e4f;
  }
  /* line 113, ../sass/views-styles.scss */
  .view ul.inline li.node-readmore {
    float: right;
    padding: 0 0 0 1em;
  }

  /**
   * View panes
   */
  /* line 124, ../sass/views-styles.scss */
  .view-display-id-pane .views-row {
    margin-top: 1em;
  }
  /* line 127, ../sass/views-styles.scss */
  .view-display-id-pane .views-row.views-row-first {
    margin-top: 0em;
  }

  /* line 133, ../sass/views-styles.scss */
  .view-display-id-pane figure.field-title-image {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
    float: left;
    clear: left;
  }
  /* line 138, ../sass/views-styles.scss */
  .view-display-id-pane div.field-content {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }
  /* line 143, ../sass/views-styles.scss */
  .view-display-id-pane div.more-link {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }

  /* line 150, ../sass/views-styles.scss */
  .view-display-id-recent_pane_compact > .view-content,
  .view-display-id-recent_pane > .view-content {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: -10px;
    float: right;
    clear: right;
  }

  /* line 157, ../sass/views-styles.scss */
  .view-display-id-recent_pane > .view-content figure.field-title-image {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: 6.66667px;
    float: left;
    clear: left;
  }
  /* line 162, ../sass/views-styles.scss */
  .view-display-id-recent_pane > .view-content div.field-content {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: -6.66667px;
    float: right;
    clear: right;
  }

  /* line 169, ../sass/views-styles.scss */
  .latest-attachment-2 .view-display-id-latest_attachment {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
    float: left;
    clear: left;
  }

  /**
   * Slider
   */
  /*
   * Normalize Flexslider default theming.
   */
  /* line 182, ../sass/views-styles.scss */
  .flexslider {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 35px;
  }

  /* line 188, ../sass/views-styles.scss */
  .flex-control-nav {
    bottom: -30px;
  }

  /*
   * Top slider
   */
  /* line 196, ../sass/views-styles.scss */
  div.view-teia-slideshow .view-content .flexslider {
    background: #f5f5f5;
  }
  /* line 200, ../sass/views-styles.scss */
  div.view-teia-slideshow li {
    overflow: hidden;
  }
  /* line 204, ../sass/views-styles.scss */
  div.view-teia-slideshow figure {
    width: 66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 6.66667px;
    margin-right: 13.33333px;
    float: left;
    clear: left;
  }
  /* line 210, ../sass/views-styles.scss */
  div.view-teia-slideshow div.slideshow-text,
  div.view-teia-slideshow div.more-link {
    width: 33.33333%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 13.33333px;
    margin-right: -13.33333px;
    position: absolute;
    padding-right: 30px;
  }
  /* line 216, ../sass/views-styles.scss */
  div.view-teia-slideshow div.slideshow-text {
    top: 0;
    right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  /* line 222, ../sass/views-styles.scss */
  div.view-teia-slideshow div.more-link {
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 1em;
  }
  /* line 228, ../sass/views-styles.scss */
  div.view-teia-slideshow div.more-link:before {
    position: absolute;
    left: 0;
    right: 30px;
    bottom: 0;
    height: 4.4em;
    content: "";
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjMzLjMzMzMzJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIvPjxzdG9wIG9mZnNldD0iNjYuNjY2NjclIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjVmNWY1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(33.33333%, #f5f5f5), color-stop(66.66667%, #f5f5f5), color-stop(100%, #f5f5f5));
    background-image: -moz-linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    background-image: -webkit-linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    background-image: linear-gradient(rgba(245, 245, 245, 0), #f5f5f5, #f5f5f5, #f5f5f5);
    z-index: -1;
  }
  /* line 240, ../sass/views-styles.scss */
  div.view-teia-slideshow h3 {
    font-size: x-large;
  }
  /* line 241, ../sass/views-styles.scss */
  div.view-teia-slideshow div.publish-date {
    color: #adadad;
  }
  /* line 242, ../sass/views-styles.scss */
  div.view-teia-slideshow h3, div.view-teia-slideshow div.publish-date, div.view-teia-slideshow p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}
