
/**
 * Donate Now!
 */

#block-teia-theme-teia-donate-now .block-content,
#block-teia-theme-teia-nature-valley-donate-now .block-content {
  border: none;
  padding: 0;
}

#block-teia-theme-teia-donate-now a#donate-now {
  display: block;
  padding: 0;
  width: 280px;
  height: 107px;
  background: url("/sites/all/modules/features/teia_theme/images/donate-now.jpg");
  background-size: 280px 107px;
}

#block-teia-theme-teia-nature-valley-donate-now a#donate-now {
  display: block;
  padding: 0;
  width: 280px;
  height: 107px;
  background: url("/sites/all/modules/features/teia_theme/images/donate-natural-valley.jpg");
  background-size: 280px 107px;
}

#block-teia-theme-teia-donate-now a#donate-now:hover {
  opacity: 0.7;
}

#block-teia-theme-teia-nature-valley-donate-now a#donate-now:hover {
  opacity: 0.7;
}
