/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

$zen-column-count:  11;
$zen-gutter-width:  20px;

$header-height: 130px;
$main-top: 160px;

// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: true;
// $zen-auto-include-flow-item-base: false;


/*
 * Center the page.
 */

/*
@media all and (min-width: 960px) {
  #page,
  .region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}
*/
/*
@media all and (min-width: 480px) and (max-width: 959px) {
  #page,
  .region-bottom {
    margin-left: 85px;
    margin-right: 0px;
    max-width: $max-width;
  }
}
*/

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#header,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  @include zen-grid-container();
}

/*
@media all and (min-width: 960px) {
*/
@media all {

  #page {
    min-width: $wide-width;
  }

  /**
   * Header grid container.  Set to absolute position to make room for navigation region at the top right.
   */
  #header {
    position: absolute;
    height: $header-height;
    width: 100%;
    max-width: $wide-width;
    z-index: 1;

    nav, hgroup {
      float: left;
    }
  }

  .region-header {
    @include zen-grid-item(2, 5);
    height: $header-height;
  }

  #logo {
    @include zen-grid-item(3, 2);
  }

  /**
   * Main grid container.  Set top padding to make room for header container.
   */
  #main {
    padding-top: $main-top;
    position: relative;
  }

  #content {
    @include zen-grid-item(8, 2);
  }

  /**
   * Navigation region.  Placed at top right.
   */
  .region-navigation {
    @include zen-grid-item(5, 7);
    position: relative;
    top: -$main-top;
    height: $header-height;
    z-index: 2;
  }

  .sidebar-first {
    #content {
      @include zen-grid-item(11, 2);
    }

    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  .sidebar-second, .two-sidebars {
    .region-sidebar-first {
      @include zen-nested-container();
      position: absolute;
      top: 13em;
      left: 0;
      width: 6em;
    }

    .region-sidebar-second {
      @include zen-grid-item(2, 1, right);
    }
  }

  /**
   * Footer hack.
   */
  #footer #block-panels-mini-footer {
    @include zen-grid-item(6, 4);
  }

  /**
   * Panels layout
   */
  .use-zen-columns #content {
    .panel-3col-33-stacked .panel-col-first {
      @include zen-grid-flow-item(4, 12);
    }
    .panel-3col-33-stacked .panel-col {
      @include zen-grid-flow-item(4, 12);
    }
    .panel-3col-33-stacked .panel-col-last {
      @include zen-grid-flow-item(4, 12, false, false);
    }
    .panel-3col-33-stacked .inside {
      margin: 0;
    }

    .panel-2col-stacked {
      .panel-col-first {
        @include zen-grid-flow-item(6, 12);
      }
      .panel-col-last {
        @include zen-grid-flow-item(6, 12, false, false);
      }
      .inside {
        margin: 0;
      }
    }
  }

}
